extends layout

block append stylesheets
  if freddyCss
    style(nonce=nonce)!= freddyCss

block body
  include _modal-storage
  //- modal watch video
  if !isBot(ctx.get('User-Agent'))
    #modal-watch-video.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-watch-video-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-watch-video-title.h4.d-inline-block.ml-4= t("See How It Works")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Forward Email's Paid Plans"),
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/N6zjv40zuIY?autoplay=0"
            )
  if !isBot(ctx.get('User-Agent'))
    #modal-for-creators.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-for-creators-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-for-creators-title.h4.d-inline-block.ml-4= t("Email for Content Creators")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Email Forwarding for Creators"),
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/ql9rtNpTid4?autoplay=0"
            )
    #modal-for-developers.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-for-developers-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-for-developers-title.h4.d-inline-block.ml-4= t("Email for Tech People")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Email Forwarding for Developers"),
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/1e9UyIoFu4Y?autoplay=0"
            )
    #modal-for-businesses.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-for-businesses-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-for-businesses-title.h4.d-inline-block.ml-4= t("Email for Your Business")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Email Forwarding for Businesses"),
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/--p9LdmVSAw?autoplay=0"
            )
  .min-vh-100.bg-dark.text-white.d-flex.flex-column.pb-5.text-center(
    data-ignore-hash-change,
    id=!isPDF && ["/", "/private-business-email", ...Object.keys(useCases)].includes(ctx.pathWithoutLocale) && !isBot(ctx.get("User-Agent")) && !boolean(ctx.query.pricing) ? "freddy" : ""
  )
    if !isPDF && ['/', '/private-business-email', ...Object.keys(useCases)].includes(ctx.pathWithoutLocale) && !isBot(ctx.get("User-Agent")) && !boolean(ctx.query.pricing)
      //- #stars
      #stars2
      #stars3
    .container.my-auto.pt-5
      .row.mb-3
        .col-12(
          class=["en"].includes(locale) ? "col-md-9 col-lg-8 col-xl-6" : "col-lg-9"
        )
        .col-12
          if isBot(ctx.get('User-Agent'))
            h1.mb-1.display-4.font-weight-normal= t("Free Email Forwarding for Custom Domains")
          else
            h1#typed-home-header.mb-3(data-ignore-hash-change)
              span#typed-home.text-sans-serif(data-ignore-hash-change)
                != t("Email for everyone")
          if isBot(ctx.get("User-Agent"))
            p
              != t('For <span class="notranslate">%d</span> years and counting, we are the go-to email service for hundreds of thousands of creators, developers, and businesses.', dayjs().endOf("year").diff(dayjs("1/1/17", "M-D/YY"), "year"))
              = " "
              != t('Send and receive email as <span class="notranslate font-weight-bold text-nowrap">you@yourdomain.com</span> with your custom domain for free. Set up custom domain email forwarding in minutes!')
          if !isBot(ctx.get("User-Agent"))
            a.btn.btn-light.btn-sm.font-weight-bold.mb-3.mb-md-5(
              href="/technical-whitepaper.pdf",
              target="_blank"
            )
              i.fa.fas.fa-book
              = " "
              = t("Technical Whitepaper")

          if isBot(ctx.get("User-Agent"))
            ul.list-inline
              li.list-inline-item.d-block.d-md-inline
                a.btn.mb-3(
                  class=isBot(ctx.get("User-Agent")) ? "btn-dark" : "btn-light",
                  href=isBot(ctx.get("User-Agent")) ? l("/private-business-email") : l("/private-business-email?pricing=true")
                )
                  i.fa.fa-fw.fa-layer-group
                  = " "
                  != t("Features")
              //- Product Tour
              if !isBot(ctx.get('User-Agent'))
                li.list-inline-item.d-block.d-md-inline
                  a.btn.btn-light.mb-3(
                    role="button",
                    data-toggle="modal",
                    data-target="#modal-watch-video",
                    href="https://www.youtube.com/watch?v=N6zjv40zuIY",
                    target="_blank",
                    rel="noopener noreferrer"
                  )
                    i.fab.fa-youtube.text-danger
                    = " "
                    = t("Tour")
              //- Developers
              li.list-inline-item.d-block.d-md-inline
                if isBot(ctx.get('User-Agent'))
                  a.btn.btn-dark.mb-3(href=l("/blog/docs"))
                    i.fa.fa-code
                    = " "
                    = t("Transactional Email API")
                else
                  a.btn.btn-light.mb-3(href=l("/blog/docs"))
                    i.fa.fa-code
                    = " "
                    = t("Developers")

    if !isBot(ctx.get('User-Agent'))
      a.text-decoration-none.pt-1.pb-4.pt-lg-4.text-uppercase.text-white.mx-auto.bounce-animation(
        href="#learn-more"
      )
        i.fa.fa-angle-double-down
        = " "
        = t("Learn more")
        = " "
        i.fa.fa-angle-double-down
  #learn-more.py-3.d-block.overflow-hidden.no-search(data-ignore-hash-change)
    .container.text-center
      include _marketing
  a.text-decoration-none.pt-1.pb-4.pt-lg-4.text-uppercase.text-themed.mx-auto.bounce-animation(
    href="#testimonials"
  )
    i.fa.fa-angle-double-down
    = " "
    = t("Happy Customers")
    = " "
    i.fa.fa-angle-double-down
  include _testimonials
  include _tti
